/* ----------- Import base css file ----------- */
@import url("/common/css/base.css");

/* -------------------------------------------------- Layout -------------------------------------------------- */
#container {
display: flex;
flex-direction: column;
height: 100vh;
}

#header-container {
position: relative;
text-align: center;
}

#contents-container {
display: flex;
flex-direction: column;
margin-top: 40px;
}

/* -------------------------------------------------- Contents -------------------------------------------------- */

h1 {
font-weight: 400;
font-size: 60px;
margin: 0%;
}

.list {
padding: 10px;
text-align: center;
text-decoration: none;
font-size: 20px;
font-weight: 200;
}

a:link, a:visited {
text-decoration: none;
color: inherit;
}

a:hover {
color: var(--hover-colour);
}

.menu-image {
height: 150px;
width: 150px;
margin-top: 20px;
margin-bottom: 20px;
}

#info {
margin-top: 30px;
}