@import url("../../../common/css/base.css");

.steps-line {
fill: none;
stroke: #d96ac2;
stroke-width: 2px;
}

.steps-chart {
/* border: 1px solid #757E63; */
border: 1px solid #2f2f2f;
;
}

.grid line {
    stroke: #2f2f2f;
    stroke-width: 1;
}

.grid path {
    stroke: none;
}