/* ----------- Import base css file ----------- */
@import url("../../../common/css/base.css");

/* ----------- Layout ---------------------------------------------------------------------------------------------------------------- */
.steps-container {
display: flex;
gap: 40px;
}

.steps {
flex: none;
border: 1px solid #2f2f2f;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */

/* ----------- Graph ---------------------------------------------------------------------------------------------------------------- */
/* ----------- Line ----------- */
.steps-line {
fill: none;
/* stroke: #f750d6; */
stroke: #d96ac2;
stroke-width: 2px;
}

/* ----------- Grid ----------- */
.grid line {
/* stroke: #2f2f2f; */
stroke: #757E63;
stroke-width: 1;
opacity: 15%;
}

.grid path {
stroke: none;
}

/* ----------- Axes -----------  */
.axis path.domain {
stroke: none;
}

.axis .tick line {
stroke: none;
}

.axis text {
/* stroke: #595858; */
font-size: 14px;
/* font-family: "helvetica neue", Arial, Helvetica, sans-serif; */
font-weight: 200;
opacity: 60%;
}
/* ------------------------------------------------------------------------------------------------------------------------------------ */
/* ----------- Milestones Box ---------------------------------------------------------------------------------------------------------------- */
.milestone {
/* border: 1px solid red; */
margin-bottom: 20px;
cursor: pointer;
flex: 1;
font-weight: 200;
}

.milestone:hover {
opacity: 1;
color: #fff;
}

.milestones-list {
margin-top: 30px;
}

.milestone-description {
margin-top: 40px;
font-weight: 200;
}

.legend-line {
color: #d96ac2;
font-weight: bold;
}