@import url("../../../common/css/base.css");
@import url("./desktop.css");

svg {
    color:#e4e9dd
}

image {
    border: #f43307;
    border-width: 1px;
    border-style: solid;
}

select {
    font-weight: 100;
}

.axis path {
    stroke: none;
}

.axis line {
    stroke: red;
}

 .axis .tick {
    display: none;  
}

.axis .domain {
    stroke: none;  
}

.text {
    color:#2256f1
}

.axis text {
    display: none; 
} 

.pitch {
    transition: opacity 0.3s ease-in-out;
}

.goal-path {
    transition: opacity 0.1s ease-in-out;
}

.desktop-tooltip {
margin-top: 15px;
background-color: var(--background-colour);
border-radius: 4px;
font-size: 25px;
font-weight: 200;
pointer-events: none; 
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

#desktop-club-filter {
background-color: var(--background-colour);
border-color: var(--text-colour);
color: var(--text-colour);
font-size: 20px;
font-weight: 100;
padding: 2.5px 10px 2.5px 0px;
border-radius: 4px;
-webkit-font-smoothing: antialiased;
font-family: 'Open Sans Light', sans-serif;
}